.backButton {
  border-radius: 100%;
  background-color: #F7F7FC;
  color: #636381;
  width: 32px;
  height: 32px;
  margin-top: 36px;
  border: 1px;
  margin-bottom: 10px;
}

.part1 {
  width: auto;
  height: auto;
}

.form_group {
  margin-bottom: 1rem;
}

.form_group label {
  text-align: right;
}

.nb_theme_cosmic {
  font-size: 2rem;
  font-family: Open Sans, sans-serif;
  font-weight: 400;
  line-height: 20 px;
  color: white;
}

.nb_theme_cosmic_h4 {
  font-size: 1.625rem;
  font-family: Open Sans, sans-serif;
  font-weight: 400;
  line-height: 2rem;
  color: white;
}

.col_md_2 {
  flex: 0 0 16.66666667%;
  max-width: 16.66666667%;
  position: relative;
  width: 100%;
  padding: 4px 15px;
}

.col_md_3 {
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col_md_4 {
  flex: 0 0 33.33333333%;
  max-width: 33.33333333%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col_md_6 {
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.table_value {
  height: min-content;
}


.table_value input {
  width: 100%;
  padding: 7px 16px;
  font-size: 14px;
  color: black;
}

.table_value select {
  width: 100%;
  padding: 7px 16px;
  font-size: 14px;
  color: black;
}

.table_value span {
  width: 100%;
  padding: 0px;
  font-size: 14px;
  color: white;
  text-align: top;
}

.table_value a {
  width: 100%;
  padding: 0px;
  font-size: 14px;
  text-align: top;
}

.table_value_editor {
  color: white;
}

.nb_theme_cosmic label {

  background-color: #1b1b38;
  color: #fff;
  font-family: Open Sans, sans-serif;
  font-size: .9375rem;
  font-weight: 400;
  line-height: 1.25rem;
  min-height: 5vh;
}

.row_inline {
  display: flex;
  margin-left: -15px;
  /* margin-right: -15px; */
  flex-flow: row wrap;
}

.mb_5,
.my_5 {
  margin-bottom: 8px !important;
}

.mb_4,
.my_4 {
  margin-bottom: 1.5rem !important;
}

.mb_3,
.my_3 {
  margin-bottom: 1rem !important;
}

.mt_3,
.my_3 {
  margin-top: 1rem !important;
}

.text_danger {
  color: #dc3545 !important;
}

.small {
  font-size: 13px;
}

.error_message {
  color: red;
}

.help_block {
  color: #A8A8A8;
}

.seperated_space {
  display: block;
  height: 20px;
  background: #323259;
  /* margin-right: -2.25rem; */
  margin-left: -2.25rem;
  box-shadow: inset 0 5px 5px -5px rgb(0 0 0 / 75%);
}